com.kdmanalytics.toif.framework/xml/HouseKeepingXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?> 
<xsd:schema xmlns:toif="http:///toif.ecore" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http:///toif.ecore"> 
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/> 
  <xsd:complexType name="Project"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Description" type="toif:Description"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Project" type="toif:Project"/> 
  <xsd:complexType name="Name"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Name" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="Name" type="toif:Name"/> 
  <xsd:complexType name="Description"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Text" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="Description" type="toif:Description"/> 
  <xsd:complexType name="Generator"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Version" type="toif:Version"/> 
          <xsd:element name="Description" type="toif:Description"/> 
          <xsd:element name="Name" type="toif:Name"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Generator" type="toif:Generator"/> 
  <xsd:complexType name="Adaptor"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Version" type="toif:Version"/> 
          <xsd:element name="Description" type="toif:Description"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Adaptor" type="toif:Adaptor"/> 
  <xsd:complexType name="Version"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Version" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="Version" type="toif:Version"/> 
  <xsd:complexType name="Organization"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Description" type="toif:Description"/> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Address" type="toif:Address"/> 
          <xsd:element name="Phone" type="toif:Phone"/> 
          <xsd:element name="Email" type="toif:EmailAddress"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Organization" type="toif:Organization"/> 
  <xsd:complexType name="Vendor"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Organization"/> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Vendor" type="toif:Vendor"/> 
  <xsd:complexType name="Address"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Address" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="Address" type="toif:Address"/> 
  <xsd:complexType name="Phone"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Phone" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="Phone" type="toif:Phone"/> 
  <xsd:complexType name="EmailAddress"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Email" type="xsd:string"/> 
  </xsd:complexType> 
  <xsd:element name="EmailAddress" type="toif:EmailAddress"/> 
  <xsd:complexType name="Person"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Email" type="toif:EmailAddress"/> 
          <xsd:element name="Phone" type="toif:Phone"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Person" type="toif:Person"/> 
  <xsd:complexType name="PersonIsEmployedByOrganizationAsRole"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Role" type="toif:Role"/> 
          <xsd:element name="Person" type="toif:Person"/> 
          <xsd:element name="Organization" type="toif:Organization"/> 
        </xsd:choice> 
        <xsd:attribute name="Role" type="xsd:string"/> 
        <xsd:attribute name="Person" type="xsd:string"/> 
        <xsd:attribute name="Organization" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="PersonIsEmployedByOrganizationAsRole" type="toif:PersonIsEmployedByOrganizationAsRole"/> 
  <xsd:complexType name="OrganizationIsPartOfOrganizationAsRole"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Organization2" type="toif:Organization"/> 
          <xsd:element name="Organization1" type="toif:Organization"/> 
          <xsd:element name="Role" type="toif:Role"/> 
        </xsd:choice> 
        <xsd:attribute name="Organization2" type="xsd:string"/>  
                <xsd:attribute name="Organization1" type="xsd:string" />
                <xsd:attribute name="Role" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="OrganizationIsPartOfOrganizationAsRole" type="toif:OrganizationIsPartOfOrganizationAsRole"/> 
  <xsd:complexType name="OrganizationIsInvolvedInProjectAsRole"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Project" type="toif:Project"/> 
          <xsd:element name="Organization" type="toif:Organization"/> 
          <xsd:element name="Role" type="toif:Role"/> 
        </xsd:choice> 
        <xsd:attribute name="Project" type="xsd:string"/> 
        <xsd:attribute name="Organization" type="xsd:string"/> 
        <xsd:attribute name="Role" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="OrganizationIsInvolvedInProjectAsRole" type="toif:OrganizationIsInvolvedInProjectAsRole"/> 
  <xsd:complexType name="Role"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Description" type="toif:Description"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="Role" type="toif:Role"/> 
  <xsd:complexType name="PersonIsInvolvedInProjectAsRole"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Project" type="toif:Project"/> 
          <xsd:element name="Role" type="toif:Role"/> 
          <xsd:element name="Person" type="toif:Person"/> 
        </xsd:choice> 
        <xsd:attribute name="Project" type="xsd:string"/> 
        <xsd:attribute name="Role" type="xsd:string"/> 
        <xsd:attribute name="Person" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="PersonIsInvolvedInProjectAsRole" type="toif:PersonIsInvolvedInProjectAsRole"/> 
  <xsd:complexType name="AdaptorSupportsGenerator"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Adaptor" type="toif:Adaptor"/> 
          <xsd:element name="Generator" type="toif:Generator"/> 
        </xsd:choice> 
        <xsd:attribute name="Adaptor" type="xsd:string"/> 
        <xsd:attribute name="Generator" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="AdaptorSupportsGenerator" type="toif:AdaptorSupportsGenerator"/> 
  <xsd:complexType name="GeneratorIsSuppliedByVendor"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Generator" type="toif:Generator"/> 
          <xsd:element name="Vendor" type="toif:Vendor"/> 
        </xsd:choice> 
        <xsd:attribute name="Generator" type="xsd:string"/> 
        <xsd:attribute name="Vendor" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="GeneratorIsSuppliedByVendor" type="toif:GeneratorIsSuppliedByVendor"/> 
  <xsd:complexType name="AdaptorIsSuppliedByVendor"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Adaptor" type="toif:Adaptor"/> 
          <xsd:element name="Vendor" type="toif:Vendor"/> 
        </xsd:choice> 
        <xsd:attribute name="Adaptor" type="xsd:string"/> 
        <xsd:attribute name="Vendor" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="AdaptorIsSuppliedByVendor" type="toif:AdaptorIsSuppliedByVendor"/> 
    <xsd:complexType name="TOIFSegment"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element name="fact" type="toif:Concept"/> 
      <xsd:element name="Name" type="toif:Name"/> 
      <xsd:element name="Description" type="toif:Description"/> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegment" type="toif:TOIFSegment"/> 
  <xsd:complexType name="Entity"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Concept"/> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Fact"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Concept"/> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="TOIFSegmentIsGeneratedByPerson"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Person" type="toif:Person"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Person" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsGeneratedByPerson" type="toif:TOIFSegmentIsGeneratedByPerson"/> 
  <xsd:complexType name="TOIFSegmentIsProducedByOrganization"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Organization" type="toif:Organization"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Organization" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsProducedByOrganization" type="toif:TOIFSegmentIsProducedByOrganization"/> 
  <xsd:complexType name="Date">
  	<xsd:complexContent>
  		<xsd:extension base="toif:Entity">
  			<xsd:attribute name="Date" type="xsd:string"></xsd:attribute>
  		</xsd:extension>
  	</xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Date" type="toif:Date"/> 
  <xsd:complexType name="TOIFSegmentIsCreatedAtDate"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Date" type="toif:Date"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Date" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsCreatedAtDate" type="toif:TOIFSegmentIsCreatedAtDate"/> 
  <xsd:complexType name="TOIFSegmentIsSupervisedByPerson"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Person" type="toif:Person"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Person" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsSupervisedByPerson" type="toif:TOIFSegmentIsSupervisedByPerson"/> 
  <xsd:complexType name="TOIFSegmentIsOwnedByOrganization"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Organization" type="toif:Organization"/> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
        </xsd:choice> 
        <xsd:attribute name="Organization" type="xsd:string"/> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsOwnedByOrganization" type="toif:TOIFSegmentIsOwnedByOrganization"/> 
  <xsd:complexType name="TOIFSegmentIsRelatedToProject"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Project" type="toif:Project"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Project" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsRelatedToProject" type="toif:TOIFSegmentIsRelatedToProject"/> 
  <xsd:complexType name="TOIFSegmentIsGeneratedByGenerator"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
          <xsd:element name="Generator" type="toif:Generator"/> 
        </xsd:choice> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
        <xsd:attribute name="Generator" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsGeneratedByGenerator" type="toif:TOIFSegmentIsGeneratedByGenerator"/> 
  <xsd:complexType name="TOIFSegmentIsProcessedByAdaptor"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Adaptor" type="toif:Adaptor"/> 
          <xsd:element name="Segment" type="toif:TOIFSegment"/> 
        </xsd:choice> 
        <xsd:attribute name="Adaptor" type="xsd:string"/> 
        <xsd:attribute name="Segment" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType> 
  <xsd:element name="TOIFSegmentIsProcessedByAdaptor" type="toif:TOIFSegmentIsProcessedByAdaptor"/> 
  <xsd:complexType name="File"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
          <xsd:element name="Version" type="toif:Version"/> 
          <xsd:element name="Checksum" type="toif:Checksum"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Checksum"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Checksum" type="xsd:string"/> 
  </xsd:complexType>  
  <xsd:complexType name="Directory"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="DirectoryIsContainedInDirectory"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Directory1" type="toif:Directory"/> 
          <xsd:element name="Directory2" type="toif:Directory"/> 
        </xsd:choice> 
        <xsd:attribute name="Directory1" type="xsd:string"/> 
        <xsd:attribute name="Directory2" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="FileIsContainedInDirectory"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="File" type="toif:File"/> 
          <xsd:element name="Directory" type="toif:Directory"/> 
        </xsd:choice> 
        <xsd:attribute name="File" type="xsd:string"/> 
        <xsd:attribute name="Directory" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Finding"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"/> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="WeaknessDescription"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:attribute name="Text" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="FindingIsDescribedByWeaknessDescription"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Finding" type="toif:Finding"/> 
          <xsd:element name="Description" type="toif:WeaknessDescription"/> 
        </xsd:choice> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
        <xsd:attribute name="Description" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="CWEIdentifier">
  	<xsd:complexContent>
  		<xsd:extension base="toif:Entity">
  			<xsd:sequence>
  				<xsd:element name="name" type="toif:Name"></xsd:element>
  			</xsd:sequence>
  		</xsd:extension>
  	</xsd:complexContent>
  </xsd:complexType> 
  <xsd:complexType name="FindingHasCWEIdentifier"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Finding" type="toif:Finding"/> 
          <xsd:element name="Cwe" type="toif:CWEIdentifier"/> 
        </xsd:choice> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
        <xsd:attribute name="Cwe" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="CodeLocation"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Linenumber" type="toif:Linenumber"/> 
          <xsd:element name="Position" type="toif:Position"/> 
          <xsd:element name="Offset" type="toif:Offset"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="FindingHasCodeLocation"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Location" type="toif:CodeLocation"/> 
          <xsd:element name="Finding" type="toif:Finding"/> 
        </xsd:choice> 
        <xsd:attribute name="Location" type="xsd:string"/> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Position"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Position" type="xsd:int"/> 
  </xsd:complexType>  
  <xsd:complexType name="Linenumber"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Linenumber" type="xsd:int"/> 
  </xsd:complexType>  
  <xsd:complexType name="CodeLocationReferencesFile"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="CodeLocation" type="toif:CodeLocation"/> 
          <xsd:element name="File" type="toif:File"/> 
        </xsd:choice> 
        <xsd:attribute name="CodeLocation" type="xsd:string"/> 
        <xsd:attribute name="File" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Offset"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="Offset" type="xsd:int"/> 
  </xsd:complexType>  
  <xsd:complexType name="Statement"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"/> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="StatementHasCodeLocation"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Statement" type="toif:Statement"/> 
          <xsd:element name="Location" type="toif:CodeLocation"/> 
        </xsd:choice> 
        <xsd:attribute name="Statement" type="xsd:string"/> 
        <xsd:attribute name="Location" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="StatementIsInvolvedInFinding"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Statement" type="toif:Statement"/> 
          <xsd:element name="Finding" type="toif:Finding"/> 
        </xsd:choice> 
        <xsd:attribute name="Statement" type="xsd:string"/> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="StatementIsSinkInFinding"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Finding" type="toif:Finding"/> 
          <xsd:element name="Statement" type="toif:Statement"/> 
        </xsd:choice> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
        <xsd:attribute name="Statement" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="StatementIsSourceInFinding"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Statement" type="toif:Statement"/> 
          <xsd:element name="Finding" type="toif:Finding"/> 
        </xsd:choice> 
        <xsd:attribute name="Statement" type="xsd:string"/> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="StatementIsPreceededByStatement"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Statement1" type="toif:Statement"/> 
          <xsd:element name="Statement2" type="toif:Statement"/> 
        </xsd:choice> 
        <xsd:attribute name="Statement1" type="xsd:string"/> 
        <xsd:attribute name="Statement2" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="DataElement"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Entity"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Name" type="toif:Name"/> 
        </xsd:choice> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="DataElementIsInvolvedInFinding"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Data" type="toif:DataElement"/> 
          <xsd:element name="Finding" type="toif:Finding"/> 
        </xsd:choice> 
        <xsd:attribute name="Data" type="xsd:string"/> 
        <xsd:attribute name="Finding" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="DataElementIsInvolvedInStatement"> 
    <xsd:complexContent> 
      <xsd:extension base="toif:Fact"> 
        <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
          <xsd:element name="Data" type="toif:DataElement"/> 
          <xsd:element name="Statement" type="toif:Statement"/> 
        </xsd:choice> 
        <xsd:attribute name="Data" type="xsd:string"/> 
        <xsd:attribute name="Statement" type="xsd:string"/> 
      </xsd:extension> 
    </xsd:complexContent> 
  </xsd:complexType>  
  <xsd:complexType name="Concept"> 
    <xsd:choice maxOccurs="unbounded" minOccurs="0"> 
      <xsd:element ref="xmi:Extension"/> 
    </xsd:choice> 
    <xsd:attribute ref="xmi:id"/> 
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/> 
    <xsd:attribute name="id" type="xsd:string"/> 
  </xsd:complexType>  
</xsd:schema> 